:root {
  color-scheme: dark;
  background-color: Canvas;
  color: CanvasText;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

:where(body) {
  margin: 0;
}

:where(h1, h2, h3) {
  font: inherit;
}
